/* Reset */
body, h1, h3, h3, p, ul {
  padding: 0px;
  margin: 0px;
}


body {
  font-family: Georgia, serif;
  color: #252525;
}

/* Menu */

.menu {
  background-color: #252525;
  padding: 20px 0;
}

.menu-container {
  max-width: 960px;
  margin: 0 auto;
}

.menu-container::after, .menu-container::before {
  content: '';
  display: block;
  clear: both;
}

a.menu-logo {
  display: block;
  float: left;
  margin-left: 10px;
}

.menu-nav {
  float: right;
  margin-right: 10px;
}

.menu-nav li {
  display: inline-block;
}

.menu-nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 1.125em;
}



